<!doctype html>
<html lang="ja">

<head>
  <!-- メタ情報 -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP">
  <link rel="stylesheet" href="./styles/base.css">
  <title>お買い物リスト</title>
</head>

<body>
  <div id="app" class="container vh-100 pt-4">
    <div class="card shadow-sm h-100">
      <div class="table_wrap">
        <!-- 合計金額表示 -->
                <!-- 合計金額表示 -->
        <!-- 合計金額表示 -->
        <!-- 合計金額表示 -->
        <!-- 合計金額表示 -->
        <!-- 合計金額表示 -->
        <!-- 合計金額表示 -->
        <!-- 合計金額表示 -->

        <div class="col-12 pb-2 pt-3">
          <div class="row">
            <div class="col-12 text-center">
              <div class="btn-group w-100">
                <button type="button" :class="[{ 'active': (activeNum === 0) }, 'btn btn-outline-info']" @click="taskFilter = 0">全て</button>
                <button type="button" :class="[{ 'active': (activeNum === 1) }, 'btn btn-outline-info']" @click="taskFilter = 1">未チェック</button>
                <button type="button" :class="[{ 'active': (activeNum === 2) }, 'btn btn-outline-info']" @click="taskFilter = 2">チェック済</button>
              </div>
            </div>
          </div>
        </div>
        <!-- テーブル表示 -->
        <table class="table">
          <thead class="thead">
            <tr>
              <th class="text-center border-right" style="width: 70%;">品目</th>
              <th class="text-center" style="width: 30%;">金額</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in taskFilter" :key="index" :class="[{ 'opacity': item.checked }, 'border-bottom']" @click="handleChange(item)">
              <td class="text-left border-right">{{ item.name }}</td>
              <td class="text-center">{{ item.price | comma }}</td>
            </tr>
            <tr class="bg-white" v-if="activeNum === 0">
              <td></td>
              <td class="text-center font-weight-bold">合計: {{ totalPrice }}円</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="total border-top">
        <div class="row">
          <div class="col-6 pr-0 text-center">
            <input type="text" class="form-control col-12" placeholder="品名" v-model.trim="createItem.name">
          </div>
          <div class="col-4 pr-0 text-center">
            <input type="text" class="form-control col-12" placeholder="金額" v-model.trim="createItem.price">
          </div>
          <div class="col-2 text-center">
            <button class="btn btn-info shadow-sm col-12" @click="addTask">追加</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap / vueを読み込み -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        title: "お買い物リスト",
        activeNum: 0,
        createItem: {
          name: null,
          price: null,
          checked: false
        },
        tasks: [
          {
            name: '玉ねぎ',
            price: 100,
            checked: false
          },
          {
            name: '青ネギ',
            price: 98,
            checked: false
          },
          {
            name: '大根',
            price: 150,
            checked: false
          }
        ]
      },
      filters: {
        comma(val) {
          return `${parseInt(val).toLocaleString()}円`
        }
      },
      computed: {        
        totalPrice() {
          let price = 0
          this.tasks.forEach(task => {
            price += parseInt(task.price)
          })
          return price.toLocaleString()
        },
        taskFilter: {
          get: function () {
            if (!this.activeNum) return this.tasks
            const order = (this.activeNum === 2) ? true : false
            return this.tasks.filter((task) => {
              return task.checked === order
            })
          },
          set: function (value) {
            this.activeNum = value
          }
        }
      },
      methods: {
        /**
         *  タスクの追加
         */
        addTask() {
          // deepcopyして配列に追加
          const create = JSON.parse(JSON.stringify(this.createItem))
          this.tasks.push(create)
          // 変数の初期化
          this.createItem.name = null
          this.createItem.price = null
        },
        handleChange(item) {
          item.checked = !item.checked
        }
      }
    })
  </script>
</body>

</html>